<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/navbar') %> <%- include('../partials/sidebar') %>

    <h2 style="text-align: center" class="h2">
      <%= user && user.isAdmin ? 'All Payment Records - Admin' : 'My Orders' %>
    </h2>

    <div class="orders-container">
      <% if (orders.length === 0) { %>
      <p style="text-align: center">No orders found.</p>
      <% } %> <% orders.forEach(order => { %>
      <div class="order-card">
        <p><strong>Code:</strong> <%= order.code %></p>
        <p><strong>Date:</strong> <%= order.createdAt.toDateString() %></p>
        <p>
          <strong>Status:</strong>
          <%= order.status === 'Delivered' ? '✅ Delivered' : '⏳ Not Delivered'
          %>
        </p>

        <% if (user && user.isAdmin && order.status !== 'Delivered') { %>
        <form action="/admin/orders/<%= order._id %>/deliver" method="POST">
          <button type="submit" class="btn">Mark as Delivered</button>
        </form>
        <% } %>

        <ul>
          <% order.items.forEach(item => { %>
          <li>
            <strong>Product:</strong> <%= item.name %><br />
            <strong>Price:</strong> $<%= item.price %> x <%= item.qty %>
          </li>
          <% }) %>
        </ul>
      </div>
      <% }) %>
    </div>

    <script src="/js/cart-local.js"></script>
  </body>
</html>
